install/update.log
templates/*
lib/userdata.inc.php
logs/*
.buildpath
.project
.settings/
*.diff
*~
.well-known
.idea
*.iml
.php_cs.cache
/vendor

!templates/Froxlor/
!templates/Sparkle/
!templates/misc/
templates/Froxlor/assets/img/logo_custom.png
