install/update.log
lib/userdata.inc.php
lib/userdata.inc.php.bak
logs/*
!logs/index.html
.buildpath
.project
.settings/
*.diff
*~
.well-known
.idea
*.iml
img/
vendor/
node_modules/
fonts/
templates/*
!templates/Froxlor/
templates/Froxlor/assets/css/
templates/Froxlor/assets/js/
templates/Froxlor/assets/webfonts/
!templates/misc/
