<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib/Froxlor</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <crap4j outputFile="build/logs/crap4j.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="froxlor">
      <!-- we need to specify the order of the tests for dependency-reasons -->
      <directory>tests/Global</directory>
      <directory>tests/Admins</directory>
      <directory>tests/Customers</directory>
      <directory>tests/IpsAndPorts</directory>
      <directory>tests/Domains</directory>
      <directory>tests/Cronjobs</directory>
      <directory>tests/SubDomains</directory>
      <directory>tests/Certificates</directory>
      <directory>tests/Ftps</directory>
      <directory>tests/Emails</directory>
      <directory>tests/Extras</directory>
      <directory>tests/Backup</directory>
      <directory>tests/DomainZones</directory>
      <directory>tests/Mysqls</directory>
      <directory>tests/PhpAndFpm</directory>
      <directory>tests/Traffic</directory>
      <directory>tests/Froxlor</directory>
      <directory>tests/Cron</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
</phpunit>
