.card {
	@extend .shadow-sm;
	margin-bottom: $spacer * 1.5;

	.card-header {
		border-bottom: $border-color solid 1px;
		font-weight: bold;
	}

	.card-body {
		p {
			@extend .card-text;
		}
	}

	&.deactivated {
		@extend .text-muted;
		background: lighten($light-bg, 3%);

		i {
			@extend .text-muted;
		}
	}
}
