.navbar {
  background: darken($navbar-bg, 3);
}

@include media-breakpoint-up(md) {
  .navbar {
    .navbar-brand {
      background: $dark;
      width: $sidebar-width;
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    background: $dark;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}