{% extends "Froxlor/base.html.twig" %}

{% block body %}
<div class="container my-auto">
<div class="alert alert-primary fade show" role="alert">
	<h4 class="alert-heading">
		Welcome to froxlor
	</h4>
	<p>It seems that Froxlor has not been installed yet.</p>
	<p>Click on the link below to start the installation.</p>
	<hr>
	<p class="mt-1 text-center">
		<a href="./install/install.php" class="btn btn-primary" title="Click to start the install process">Start install</a>
	</p>
</div>
</div>
{% endblock %}
