{% extends "Froxlor/base.html.twig" %}

{% block content %}
	<div class="container max-w-lg flex align-content-center mt-5">
		<img src="templates/Froxlor/assets/img/logo.png" alt="Froxlor Server Management Panel" />

		<div class="row gx-0 rounded shadow bg-primary text-white mt-5">
			<div class="col p-5 rounded-start">
				<h2 class="card-title">Welcome to Froxlor</h2>
				<p class="lead mt-5">It seems that Froxlor has not been installed yet.</p>
				<p class="lead">Click on the button below to start the installation.</p>
			</div>

			<div class="col text-white position-relative">
				<img class="h-75 position-absolute bottom-0 end-0 rounded-tl-bl" src="{{ basehref }}templates/Froxlor/assets/img/preview.jpg">
			</div>
		</div>
		<div class="mt-5 text-end">
			<a class="btn btn-lg btn-primary" href="./install/install.php" title="Click to start the install process">Start install</a>
		</div>
	</div>
{% endblock %}
