{% extends "Froxlor/base.html.twig" %}

{% block content %}
<div class="container my-auto">
<div class="alert alert-warning fade show" role="alert">
	<h4 class="alert-heading">
		Whoops!
	</h4>
	<p>The configuration file <b>lib/userdata.inc.php</b> cannot be read from the webserver.</p>
	<p>This mostly happens due to wrong ownership.<br />Try the following command to correct the ownership:</p>
	<pre>chown -R {{ user }}:{{ group }} {{ installdir }}</pre>
	<hr>
	<p class="mt-1 text-center">
		<a href="" class="btn btn-primary" title="Reload page">Reload</a>
	</p>
</div>
</div>
{% endblock %}
