<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="GOOGLEBOT" content="nosnippet" />

    <!-- Bootstrap CSS (external) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Froxlor - Error</title>
</head>


<body>
    <div class="container-fluid">
        <div class="container my-auto">
            <div class="alert alert-danger fade show" role="alert">
                <h4 class="alert-heading">
                    Whoops!
                </h4>
                <p>It seems you are using an older version of PHP</p>
                <p>Froxlor requires at least PHP version <FROXLOR_PHPMIN><br />The installed version is:
                        <CURRENT_VERSION>
                </p>
                <hr>
                <p class="mt-1 text-center">
                    <a href="index.php" class="btn btn-primary" title="Click to refresh">Refresh</a>
                </p>
            </div>
        </div>
        <footer class="pt-5 pb-5 text-center">
            <span><img src="templates/Froxlor/assets/img/logo_grey.png" alt="Froxlor" />
                &copy; 2009-<CURRENT_YEAR> by <a href="http://www.froxlor.org/" rel="external">the Froxlor
                        Team</a><br />
            </span>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>
