<a class="nav-link {% if isnewerversion == 0 %}text-success{% else %}text-warning{% endif %}" {% if isnewerversion == 0 %} href="#" {% else %} href="admin_autoupdate.php?page=overview" {% endif %} title="{% if isnewerversion == 0 %}{{ additional_info }}{% else %}{{ message }}{% endif %}">
	{% if isnewerversion == 0 %}
		<i class="fa-solid fa-circle-check me-1"></i>
	{% else %}
		<i class="fa-solid fa-circle-exclamation me-1"></i>
	{% endif %}
	<span class="d-md-none d-xl-inline">{{ version }}</span>
</a>
