@import "main";

// Color
$primary: $froxlor-700;
$secondary: $gray-500;
$info: $froxlor-800;

// Body
$body-bg: $gray-900;
$body-color: $gray-100;

// Borders
$border-color: $gray-900;
$border-color-translucent: $gray-900;

// Link
$link-color: $froxlor-500;
$nav-link-color: $body-color;

// List groups
$list-group-bg: $gray-800;
$list-group-color: $body-color;
$list-group-hover-bg: $gray-700;
$list-group-action-color: $body-color;

// Navbar
$navbar-bg: $gray-800;
$navbar-bg-mobile: $navbar-bg;
$navbar-light-color: $gray-200;
$navbar-light-hover-color: $gray-500;
$navbar-light-active-color: $gray-500;

// Sidebar

// Card
$card-bg: $gray-800;
$card-border-color: $gray-600;

// Heading
$heading-bg: $gray-800;
$heading-color: $body-color;
$heading-border-color: rgba(0,0,0,0.15);

// Dropdown
$dropdown-bg: $gray-800;
$dropdown-color: $gray-100;
$dropdown-link-color: $gray-100;
$dropdown-link-hover-bg: $gray-900;

// Modal
$modal-content-bg: $gray-800;

// Form control
$input-bg: $gray-900;
$input-border-color: $black;
$input-group-addon-bg: $gray-800;

// Progress bar
$progress-bg: $gray-900;

// Search
$search-bg: $gray-800;

// Popover
$popover-bg: $gray-800;
$popover-body-color: $gray-100;
