// Colors
$light-bg: #e9ecef;
$dark-bg: #2f2f2f;

$light-font-color: #333333;
$dark-font-color: #ffffff;

$froxlor-blue-light: #62c8f4;
$froxlor-blue-dark: #1871a2;

$primary: $froxlor-blue-dark;
$secondary: $dark-bg;
$info: $froxlor-blue-light;
$warning: #FBBF24;
$danger: #E11D48;

$alert-bg-scale: 0;
$alert-color-scale: 0;
$alert-border-width: 0;

$list-group-item-color-scale: 0;
$list-group-item-bg-scale: 0;

// Space
$spacer: 1.25rem;

// Body
$body-bg: $light-bg;
$body-color: $light-font-color;

// Borders
$border-radius: 0.5rem;

// Links
$links: $froxlor-blue-dark;

// Navbar
$navbar-bg: #ffffff;

// Sidebar
$sidebar-width: 280px;

// Card
$card-cap-bg: none;
$card-cap-padding-y: $spacer;
$card-border-width: 0;