body {
	color				: #000000;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
}

.header {
	background-image	: url( '../images/header_r.gif' );
	background-repeat	: repeat-x;
}

.footer {
	text-align			: center;
	border-color		: #EBECF5;
	border-style		: solid;
	border-width		: 1px;
	border-right		: none;
	border-left			: none;
	background			: url('../images/footer.gif') repeat-y #FFFFFF;
}

a,a:visited,a:active {
	color				: #000000;
	text-decoration		: underline;
}

a:hover {
	color				: #F89826;
	text-decoration		: none;
}

input {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #ABC9E8;
	background-color	: #C6DEFF;
}

input.text {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #ABC9E8;
	background-color	: #C6DEFF;
	width				: 95%;
}

input.textul {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #ABC9E8;
	background-color	: #C6DEFF;
	width				: 55%;
}

select,textarea {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #B7B7B7;
	background-color	: #C6DEFF;
}

input.bottom {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #000000;
	background-color	: #C6DEFF;
}

ul {
	list-style			: none;
	padding				: 0;
	margin				: 0;
}

.title {
	background-color	: #ABC9E8;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
	text-align			: left;
}

.line_shadow {
	background-image	: url( '../images/shadow.gif' );
	background-repeat	: repeat-y;
	background-position	: top left;
}

.section {
	height				: 25px;
	background-image	: url( '../images/section.gif' );
}

.subsection {
	padding-top			: 8px;
	background-image	: url( '../images/subsection.gif' );
}

.endsection {
	height				: 10px;
	background-image	: url( '../images/endsection.gif' );
	background-position : bottom;
}

.maintable {
	width				: 90%;
}

.maintable_60 {
	width				: 60%;
}

.maintable_40 {
	width				: 40%;
}

.maintitle {
	width				: 90%;
	background-color	: #ABC9E8;
	border-color		: #000000;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	font-size			: 1.3em;
}

.main_field_name {
	width				: 50%;
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
}

.main_field_confirm {
	width				: 84%;
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: right;
}

.field_name {
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
	border-left			: none;
}

.field_name_foggy { /*nomecampo*/
	color				: #555;
	text-decoration		: line-through;
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
	border-left			: none;
}

.field_name_red { /*nomecampo*/
	background-color	: #FFA0A0;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
	border-left			: none;
}

.field_name_nobordersmall {
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
	border-bottom		: none;
}

.field_name_center {
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: center;
	border-top			: none;
}

.field_name_center_noborder {
	height				: 30px;
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: center;
	border-top			: none;
	border-right		: none;
}

.field_name_border_left {
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
}

.field_name_border_left_foggy { /*nomecampo_bordosx*/
	color				: #555;
	text-decoration		: line-through;
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
}

.field_name_border_left_red { /*nomecampo_bordosx*/
	background-color	: #FFA0A0;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	text-align			: left;
	border-top			: none;
}

.field_name_search {
	background-color	: #EBECF5;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
	border-left			: none;
	text-align			: right;
}

.main_field_display_red { /*install_campodisplay*/
	width				: 6%;
	background-color	: #FFA0A0;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
}

.main_field_display {
	width				: 50%;
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
}

.main_field_display_small {
	width				: 25%;
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
}

.field_display {
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
	border-left			: none;
}

.field_display_search {
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
	border-left			: none;
	text-align			: right;
}

.field_display_border_left {
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
}

.field_display_nobordersmall {
	background-color	: #C6DEFF;
	border-color		: #B7B7B7;
	border-style		: solid;
	border-width		: 1px;
	border-top			: none;
	border-left			: none;
	border-bottom		: none;
}

select.dropdown_noborder {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 0px solid #B7B7B7;
	background-color	: #C6DEFF;
}

textarea.textarea_noborder {
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 0px solid #B7B7B7;
	background-color	: #C6DEFF;
}

textarea.textarea_border {
	width				: 95%;
	color				: black;
	text-decoration		: none;
	font-family			: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 12px;
	font-weight			: bold;
	border				: 1px solid #B7B7B7;
	background-color	: #C6DEFF;
}

.maintitle_search_left {
	background-color	: #ABC9E8;
	border-color		: #000000;
	border-style		: solid;
	border-width		: 1px;
	border-right-width	: 0px;
	text-align			: left;
	font-size			: 1.3em;
}

.maintitle_search_right {
	background-color	: #ABC9E8;
	border-color		: #000000;
	border-style		: solid;
	border-width		: 1px;
	border-left-width	: 0px;
	text-align			: right;
}


.maintitle_apply_left {
    background-color    : #ABC9E8;
    border-color        : #000000;
    border-style        : solid;
    border-width        : 1px;
    text-align          : left;
}

.maintitle_apply_right {
    background-color    : #ABC9E8;
    border-color        : #000000;
    border-style        : solid;
    border-width        : 1px;
    text-align          : right;
}

.ticket_high {
    color		   : #ff0000;
    font-weight         : bold;
}

.ticket_normal {
    color		   : #ff9a38;
    font-weight         : bold;
}

.ticket_low {
    color		   : #5bc949;
    font-weight         : bold;
}

TR {
        background-color        : #EBECF5;
}

TR.RowOverSelected {
	background-color : #FFFFFF;
}

/* ADDED WITH APS INSTALLER */

.dataerror
{
	font-weight: bold;
	color: #DD2222;
	margin: 15px;
	padding: 20px 20px 20px 60px;
	background-color: #f1baba;
	border: 1px solid #ce1d1d;
	background-image: url('../images/error.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.fielderror
{
	font-weight: bold;
	color: #DD2222;
	background-color: #f1baba;
	border: 1px solid #DD2222;
	padding: 8px;
	margin: 8px 0 8px 0;
}

.pageitem
{
	padding: 6px;
	border: 1px solid #666666;
	margin-right: 3px;
	background-color: #C6DEFF;
}

.update_progess
{
        padding: 2em;
        text-align: left;
}

.preconfig
{
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-right: 15px;
        margin-left: 15px;
}

.preconfigitem 
{
        padding: 0.15em;
        border-bottom: 1px solid #cccccc;
}

.preconfdesc 
{
        display: block;
        margin-bottom: 0.5em;
		font-size: 120%;
}

.strikethrough {
	text-decoration: line-through;
}

