@charset "UTF-8";

// Bootstrap
@import "variables/dark";
@import "~bootstrap/scss/bootstrap";

// Theme
@import "components/generic";
@import "components/alert";
@import "components/card";
@import "components/dropdown";
@import "components/footer";
@import "components/form";
@import "components/heading";
@import "components/navbar";
@import "components/sidebar";
@import "components/search";

.navbar-light {
	.navbar-toggler {
		border-color: transparent;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}

tr.bg-info td,
tr.bg-warning td {
	color: $dark-bg !important;
}

.badge.bg-secondary {
	color: $gray-700;
}
