@charset "UTF-8";

// Bootstrap
@import "variables/dark";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Theme
@import "global";
@import "components/alert";
@import "components/card";
@import "components/dropdown";
@import "components/footer";
@import "components/form";
@import "components/navbar";
@import "components/sidebar";
@import "components/search";

.input-group-text {
	background-color: $dark-bg;
}
.form-control:disabled, .form-control[readonly] {
	background-color: $dark-bg;
	opacity: 1;
	color: #ddd;
}

.border-top {
    border-top: 1px solid var(--bs-body-bg)!important;
}

.form-select,
.form-control,
.form-control:focus,
section h3,
section h3 + span,
section h5 {
	color: $dark-bg;
}

.card-title,
.page-header {
	color: $light;
}


.form-control[readonly]:focus,
.form-control-plaintext {
	color: $white;
}
.navbar {
	background: $dark;

	.navbar-nav {
		.nav-link {
			color: $white;

			&:hover {
				color: rgba(255,255,255,.45);
			}
		}
	}
}

.navbar-light {
	.navbar-toggler {
		border-color: transparent;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}

.modal-body,
tr.bg-info td,
tr.bg-warning td {
	color: $dark-bg !important;
}
