{% extends "Froxlor/user/form.html.twig" %}

{% block content %}
	{% if alert_msg is defined and alert_msg is not empty %}
		<div class="mb-4">
			{% include 'Froxlor/misc/alertbox.html.twig' %}
		</div>
	{% endif %}
	{{ parent() }}
{% endblock %}
