<a href="{{ link|default('#')|raw }}" class="list-group-item list-group-item-action" target="_blank">
	<div class="d-flex w-100 justify-content-between">
		<b class="mb-1">{{ title }}</b>
		{% if date is not empty %}
			<small>{{ date }}</small>
		{% endif %}
	</div>
	<p class="small mb-1">{{ content|raw }}</p>
</a>
