<a href="{{ link|default('#')|raw }}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">{{ title }}</h5>
		{% if date is not empty %}
			<small>{{ date }}</small>
		{% endif %}
	</div>
	<p class="mb-1">{{ content|raw }}</p>
</a>
