{% extends "Froxlor/userarea.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-12 col-md-10 order-2 order-md-1">
			{% import "Froxlor/table/table.html.twig" as table %}
			{{ table.table(listing) }}
		</div>
		{% if add_link is iterable or (entity_info is defined and entity_info is not empty) %}
			<div class="col-12 col-md-2 order-1 order-md-2">
				{% if add_link is iterable %}
					<a class="btn btn-success d-block" href="{{ add_link.href|raw }}">
						<i class="fa-solid fa-plus-circle"></i>
						{{ add_link.label }}</a>
				{% endif %}
				{% if entity_info is defined and entity_info is not empty %}
					<div class="alert alert-info mt-2" role="alert">
						{{ entity_info|raw }}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}
